/* Box sizing reset, see paul irish article for details */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Getting the height 100% down the chain */
html, body, #react, .App {
  height: 100%;
}

body { max-height: 100%; overflow: auto; }
.noScrollOnOverflow { overflow-y: hidden; }

html, body {
  margin: 0;
  font-family: 'Source Sans Pro';
  font-size: 16px; /* establish REM baseline */
  line-height: 1.5;
  background-color: #F7FAFE;
}

header {
  background-color: #523B99;
  text-align: center;
}




/* From other project aboe here */
/* -------------------------------------------------------------------------- */

.App {
}

/* Base grid styles */
.Grid { display: flex; }
.Grid-cell { flex: 1; }

/* With gutters */
.Grid--gutters { margin: -1em 0 0 -1em; }
.Grid--gutters > .Grid-cell { padding: 1em 0 0 1em; }

/* Alignment per row */
.Grid--top { align-items: flex-start; }
.Grid--bottom { align-items: flex-end; }
.Grid--center { align-items: center; }

/* Alignment per cell */
.Grid-cell--top { align-self: flex-start; }
.Grid-cell--bottom { align-self: flex-end; }
.Grid-cell--center { align-self: center; }

.scrollbar {
  -webkit-transform: translate3d(0,0,0);
  -webkit-overflow-scrolling: touch;
}
.scrollbar::-webkit-scrollbar {
  height: 13px;
  width: 13px;
}
.scrollbar::-webkit-scrollbar-track-piece {
  background: rgba(0,0,0,.15);
}
.scrollbar::-webkit-scrollbar-button {
  display: block;
  height: 5px;
  width: 5px;
}
.scrollbar::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 5px 5px 0 0
}
.scrollbar::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 5px 5px
}
.scrollbar::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 5px 0 0 5px
}
.scrollbar::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 5px 5px 0
}
.scrollbar::-webkit-scrollbar-thumb:horizontal,.scrollbar::-webkit-scrollbar-thumb:vertical {
    background: rgba(255,255,255,.4);
    border-radius: 5px;
    display: block;
    height: 50px
}
.scrollbar::-webkit-scrollbar-button:end:increment,.scrollbar::-webkit-scrollbar-button:start:decrement {
    background: 0 0;
    display: none
}

/*
 * Modals (react-modal customization)
 * .ReactModal__xx indicates overriding a class name provided by the package.
 * .Modal--xxx indicates custom modifier class from us.
 */
.ReactModal__Overlay {
  background-color: rgba(0,0,0,.3);
  transition: background-color 150ms ease-out;
}

.ReactModal__Content {
  opacity: 0;
  border: none;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: all 300ms ease-out;
}

.Modal__footer {
  background: #EDF6FE;
  border-top: 1px solid #E0E9F1;
  border-radius: 0 4px 4px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.Modal__cross {
  position: absolute;
  top: -6px;
  right: 7px;
  color: #999;
  font-size: 2em;
  text-decoration: none;
}



.Modal--lectureComposer {
  width: 360px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -180px;
  padding-top: 2em;
  text-align: center;
}

.Modal--questionComposer {
  width: 360px;
  height: 544px;  /* 480 + 64 (footer height) */
  left: 50%;
  margin-left: -180px;
  top: 50%;
  margin-top: -240px;
  padding-top: 2em;
  text-align: center;
}

/*
 * Transparent label/input pair
 * This should be made into a component. Basically you have a label that sits
 * behind the textarea that disappears when there is content in the input.
 */
.AdvancedInput {
  height: 100%;
  position: relative;
  text-align: center;
  font-size: 22px;
}

.TransparentLabel {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  transition: opacity 150ms ease-in-out;
  color: #999;
}

.TransparentLabel--hidden {
  opacity: 0;
}

textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}

textarea:focus {
  outline: none;
}

input {
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
}


/*
 * NOTE
   | All these url references are here as Webpack Sass loader is chucking a shit
   |  with url references. No time to figure it out at the moment, probably need
   |  to configure webpack and/or the loader to know how to resolve path names.
   |  Once done these should be moved to their respective components Sass.
   V  */

/* Action Bar */
.Action--eraser > .Action-icon {
  background-image: url('../../images/eraser.svg');
}

.fullscreen {
  background-image: url('../../images/arrows_expand.svg');
}

/*
 * Media Queries
 */
@media(max-width: 360px) {
  .LogoBar span {
    padding: 10px 0 !important;
  }

  .MainContainer {
    margin-top: 0 !important;
  }

  h1 { font-size: 1.5em; }
}
