.Answer {
  height: 100%;
}

.Answer-question {
  font-size: 2em;
  font-weight: 600;
  max-width: 80vw;
  text-align: center;
}

@media (max-width: 768px) {
  .Answer-question {
    font-size: 1.5em;
    line-height: 1.2;
  }
}

.Answer-button {
  flex-grow: 1;
  text-align: center;
}
