$purple: #5C42AB;
$purple--dark: #523B99;
$offwhite: #F7FAFE;
$lavendarGray: #68627C;

.PresenterView {
  display: flex;
  min-height: 100vh;
}

.Column--main {
  width: 80vw;
}

.Column--supporting {
  width: 20vw;
  flex-shrink: 1;
  box-shadow: -1px 0 10px rgba(0,0,0,.2);
  background-color: $offwhite;
  position: relative;
}

.PresentationDetails {
  min-height: 150px;
  background: #fafafa;
  border-bottom: 1px solid #eee;
  padding: 1em 3em;
  display: flex;
  justify-content: space-around;
}

.Step {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 1.5em;
}

.Step-number {
  font-size: 1.5em;
  border: 2px solid;
  width: 60px;
  text-align: center;
  height: 60px;
  line-height: 53px;
  border-radius: 30px;
  color: #bbb;
  margin-right: .5em;
}

.Step-instructions {
  color: #333;
}

.Step-label {
  color: #999;
  margin-right: .5em;
}

.Step-value {
  font-weight: 800;
}

.PresentationQuestion {
  padding: 1em 2em;
  text-align: center;
  color: #333;
  background-color: #fff;
  min-height: 400px;
  position: relative;
}

.PresentationQuestion-hint {
  color: #999;
}

.PresentationResponses {
  min-height: 300px;
  background: #fafafa;
  border-top: 1px solid #eee;
  padding: 2em;
  text-align: center;
}

.SectionHeading {
  color: #ccc;
  padding-bottom: 2px;
  border-bottom: 3px solid #ddd;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}
