body {
  // prevents the drag-to-refresh thing from happening int he mobile browser
  // while you are tryingn to draw on the canvas.
  overflow-y: hidden;
}

.QuestionOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  z-index: 11;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.QuestionOverlay-content {
  background-color: #F7FAFE;
  height: 80vh;
  margin: 1.5em;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
  padding: 1.5em 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.QuestionOverlay-content > h3 {
  flex-grow: 1;
  margin: 0;
}

#displayCanvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F7FAFE;
}
#canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#canvas:hover {
  cursor: crosshair;
}

.ActionBar {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #5C42AB;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -1px 3px rgba(0,0,0, .15);
  color: #fff;
}

.Action {
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2em;
}

.Action--submit {
  background-color: rgba(0,0,0, .08);
  flex-grow: 1;
  padding: 0 1em;
}

.Action--eraser {
}

.Action--eraser > .Action-icon {
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-left: -3px;
}

.BrushSizeIcon {
  display: flex;
  width: 30px;
  justify-content: space-between;
}
.BrushSize { // brushes stripes in the icon
  background-color: #B4A9D3;
  height: 25px;
}

.BrushSize-small { width: 3px; }
.BrushSize-medium { width: 6px; }
.BrushSize-large { width: 12px; }


// .ActionBar > * {
//   display: inline-block;
// }

.fullscreen {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 30px;
  height: 30px;
  background-size: cover;
  z-index: 1;
}
