.LogoBar {
  flex-shrink: 0; // flexbox hack so browsers obey minimum shrink height of el.
}

.Logo {
  height: 64px;
}

.Logo-img {
  height: 100%;
  font-size: 25;
  font-weight: 800;
  text-transform: uppercase;
  color: #E1DDED;
  transition: opacity 150ms linear;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

@media(max-width: 360px) {
  .Logo {
    height: 50px;
  }
}
