@import 'Colors';

// Should make this its own module
.ViewContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.QuestionManager {
  background: #5C42AB;
  position: relative;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.QustionManager-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  -webkit-user-select: none;
}

.QuestionManagerFooter {
  height: 10px;
  background-color: #5C42AB;
}

.CardListsContainer {
  flex-grow: 1;
  display: flex;
}

.CardLists {
  position: static;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow-x: auto;
  flex-grow: 1;
}

.CardList {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background: #efefef;
  border-radius: 3px;
  width: 270px;
  flex: 0 0 270px;
  margin-right: 10px;
}

.CardList--add {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background: rgba(0,0,0,.12);
  border-radius: 3px;
  width: 270px;
  flex: 0 0 270px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  color: rgba(255,255,255,.7);
}

.CardList-header {
  display: flex;
  justify-content: space-between;
}

.CardList-header h2 {
  margin: 0 0 5px 0;
}

.CardList-header .Button--close {
  font-size: 22px;
  margin-right: 6px;
}

.Card {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  background: #fff;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 6px;
  cursor: pointer;
  min-height: 20px;
  color: #4d4d4d;
  line-height: 18px;
  padding: 6px 8px 4px;
}

.Card--add {
  margin-top: 12px;
  cursor: pointer;
  min-height: 20px;
  color: #999;
  line-height: 18px;
  padding: 6px 8px 4px;
}

.Card {
  padding: 8px !important;
}

.PresenterLinkContainer {
  position: absolute;
  bottom: -61px;
  left: 0;
  background-color: rgba(0,0,0,.1);
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

.PresenterLinkContainer a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: .75em 0;
  display: inline-block;
  transition: color 200ms linear;
}

.PresenterLinkContainer a:hover {
  color: rgba(255, 255, 255, 0.9);
}

//
// QUESTION COMPOSER STYLES
//
.QuestionInput {
  height: 410px;
}

.Modal--questionComposer {
  margin-top: -272px;
}

.Modal--lectureComposer {
  height: 209px;
}

//
// STACK STYLES
//
.Stack {
  position: absolute;
  top: 13px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Stack-iconContainer { width: 21px; }

.Stack-icon { width: 100%; }

.Stack-label {
  color: rgba(255,255,255, .7);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  transition: color 200ms ease-out;

  &:hover {
    color: rgba(255,255,255, .9);
  }
}

/**
 * Split Out!
 */
.Button--close {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0;
  color: #aaa;
  cursor: pointer;
}
