@import 'Colors';

// Should make this its own module
.ViewContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.QuestionManager {
  position: relative !important;
  top: 0 !important;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.QuestionManagerFooter {
  height: 10px;
  background-color: #5C42AB;
}

.CardListsContainer {
  flex-grow: 1;
  display: flex;
}

.CardLists {
  position: static !important;
  flex-grow: 1;
}

.CardList {
  position: relative;
  border: none !important;
}

.PresenterLinkContainer {
  position: absolute;
  bottom: -61px;
  left: 0;
  background-color: rgba(0,0,0,.1);
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

.PresenterLinkContainer a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: .75em 0;
  display: inline-block;
  transition: color 200ms linear;
}

.PresenterLinkContainer a:hover {
  color: rgba(255, 255, 255, 0.9);
}

//
// QUESTION COMPOSER STYLES
//
.QuestionInput {
  height: 410px;
}

.Modal--questionComposer {
  margin-top: -272px;
}

.Modal--lectureComposer {
  height: 209px;
}


//
// STACK STYLES
//
.Stack {
  position: absolute;
  top: 13px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Stack-icon {
  width: 21px;
}

.Stack-label {
  color: rgba(255,255,255, .7);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  transition: color 200ms ease-out;

  &:hover {
    color: rgba(255,255,255, .9);
  }
}
