.WelcomeView {
  text-align: center;
}

.Marquee {
  height: 400px;
  background: #5C42AB;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Marquee:before {
  content: ' ';
  display: table;
  clear: both;
}

.Marquee-Heading { margin: 0; position: relative; }
.Marquee-Subheading { margin-top: -.25em; }
