.DrawingTool {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.DrawingTool-canvasContainer {
  flex-grow: 1;
}

.DrawingTool-displayCanvas {
  position: absolute;
  left: 0;
  top: 0;
}

.DrawingTool-canvas {
  position: absolute;
  left: 0;
  top: 0;

  &:hover {
    cursor: crosshair;
  }
}
