@import './components/Colors';

/* Box sizing reset, see paul irish article for details */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Getting the height 100% down the chain */
html, body, #react, .App, .AppContent {
  height: 100%;
}

body { max-height: 100%; overflow: auto; }
.noScrollOnOverflow { overflow-y: hidden; }

html, body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue';
  font-size: 16px; /* establish REM baseline */
  line-height: 1.5;
  background-color: $offwhite;
}


/* Base grid styles */
.Grid { display: flex; }
.Grid-cell { flex: 1; }

/* With gutters */
.Grid--gutters { margin: -1em 0 0 -1em; }
.Grid--gutters > .Grid-cell { padding: 1em 0 0 1em; }

/* Alignment per row */
.Grid--top { align-items: flex-start; }
.Grid--bottom { align-items: flex-end; }
.Grid--center { align-items: center; }

/* Alignment per cell */
.Grid-cell--top { align-self: flex-start; }
.Grid-cell--bottom { align-self: flex-end; }
.Grid-cell--center { align-self: center; }

textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}

textarea:focus {
  outline: none;
}

input {
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
}

/* Action Bar */
.Action--eraser > .Action-icon {
  background-image: url('../images/eraser.svg');
}

.fullscreen {
  background-image: url('../images/arrows_expand.svg');
}

/*
 * Media Queries
 */
@media(max-width: 360px) {
  .MainContainer {
    margin-top: 0 !important;
  }

  h1 { font-size: 1.5em; }
}
